/*left navigation bar.*/
#navbar{
	width: 220px;
	height: 400px;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	background: #cde;
	float:left;
}
.toggle{
		background: #0066CC;
		text-align: left;
		cursor: pointer;
		border-left: 1px solid #fff;
		border-right: 1px solid #fff;
		border-bottom: 2px solid #ccc;	
	}

.toggle span{
		color: #ffffff;
		font-size: 16px;
		font-weight: bold;
		font-family: "Times New Roman";
	}
#navbar ul{
	list-style: none outside none;
	line-height: 16px;
	display: block;
	list-style-type: none;
	color: #fff;
}

#navbar ul li{
	text-indent: 2px;
}

#navbar ul li a
{
    text-decoration: none;
    color: #CC6600;
}

#navbar ul li a:hover
{
    text-decoration: underline;
    color: #0099CC;
}
	
#content{
    float: left;
    width: 70%;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 20px;
}