body {
}
 #header
{            
    text-align: left;            
}
#sidebar
{
    border-width: 1px;
    float: right;
    width: 21%;
    height: 100%;
    left: 0px;
    top: 0px;
    border-style: solid;
    margin-left: 0px;
}
#content
{
    border-width: 1px;
    float: left;
    width: 77%;
    height: 100%;
    top: 0px;
    left: 0px;
    border-style: solid;
}        
#main
{
    text-align: left;
}
