body { font-family:Arial; color:#656565; font-size:14px; margin:0px; background-color:#666;}
#PageBody {width:960px; background:#fff; margin:0 auto;}

a{ text-decoration:none; color:#656565}
a:hover{ text-decoration:underline}

#top{ width:960px; margin:0 auto; background-image:url(../Engineering/Resources/Images/MSEViewTopLogo.jpg); height:120px;}
#top_left{ float:left}


#body{ width:960px; margin-left:auto; margin-right:auto;background-color:#ECF4F4}

h1{font-size:16px; font-family:微软雅黑,黑体; font-weight:normal; margin:0px; padding: 15px 10px 10px 10px; clear:both;}
#SiteMap{background:#fff url(../Engineering/Resources/Images/TransBar.jpg) top repeat-x; clear:both;}
#SiteMapContainer{padding:0 10px 10px 10px; }

#bottom{padding:15px;background:url(../Engineering/Resources/Images/view_btmBar.jpg) top no-repeat; line-height:22px; font-size:12px; }

#content_left{ width:50%; float:left}
#content_right{ width:50%; float:left}


.BtmLeft{ float:left}
.BtmRight{ float:right}

#InfoBar 
{
	padding:0;	
	margin:0 auto;
	background-image:url(../Engineering/Resources/Images/View_InfoBar_1.jpg);
	height:44px;
	width:960px
}

#label
{
	float:left;
	margin:0 28px;
	width:157px;
	height:44px;	
}

#label h1
{
	font-family:微软雅黑,黑体;
	font-size:20px;
	color:white;
	padding:10px 0 0 20px;
	margin:0;
}

#content_top
{
	background:url(../Engineering/Resources/Images/bg_view_top.jpg) repeat-x;
	height:30px;
}

#content_bottom
{
	background:url(../Engineering/Resources/Images/bg_view_btm.jpg) repeat-x;	
	height:30px;
}

#article
{
    padding: 5px  20px;
}