body { font-family:Arial; color:#656565; font-size:14px; margin:0px}
a{ text-decoration:none; color:#656565}
a:hover{ text-decoration:underline}

#top{ width:960px; margin-left:auto; margin-right:auto; padding:0; margin-top:0; margin-bottom:0;}
#top_left{ float:left}
#top_right{ float:right}
#top_right a:hover{ color:#bdd9f7}

#bodies{ width:960px; margin-left:auto; margin-right:auto;}
#body{ width:900px; margin-left:auto; margin-right:auto;}

#bottom{ width:960px; margin-left:auto; margin-right:auto}
.BottomBar{ background-image:url(../Resources/Images/btm_bg.png); background-position:left top; background-repeat:repeat-x; width:920px; height:55px; float:left; font-size:12px; line-height:18px; padding-top:6px}
.BottomSide{ float:left}
.BtmLeft{ float:left}
.BtmRight{ float:right}

#menu{ width:200px; margin:0; border:0; float:left; padding:0;}
#menu {padding:0;list-style-type:none;font:15px "宋体";}
#menu_top{background-image: url(../Resources/Images/menu_up_t.jpg)}
#menu_body{background-image: url(../Resources/Images/menu_mid_t.jpg); padding:0 0 0 35px;}
#menu_bottom{background-image: url(../Resources/Images/menu_down_t.jpg)}

#mspacec{ width:22px; float:left; padding:0; border:0; margin:0;}

#content{ width:678px; float:left; margin:0; border:0; padding:0;}
#content_top{background-image:url(../Resources/Images/content_up.jpg); padding:0; border:0; margin:0;}
#content_body{background-image:url(../Resources/Images/content_mid.jpg); padding:0; border:0; margin:0;}
#content_body_content{width:468px;float:left; padding:0 0 0 50px;}
#content_body_side{width:160px;float:left;}
#content_bottom{background-image:url(../Resources/Images/content_down.jpg); padding:0; border:0; margin:0;}