body {
}

.EditTabsPanel 
{
	background-color: #C8E3FF;
	position:absolute;
	border: medium solid #3399FF;
	width: 335px;
	margin: 5px 0px 5px 0px;
	padding: 5px;
	z-index: 2;
}

.ReportPanel
{
	background-color: #C8E3FF;
	border: medium solid #3399FF;
	width: 500px;
	margin: 5px 0px 5px 0px;
	padding: 5px;
	position:absolute;
	left: 350px;
	z-index: 1;
	/*自适应高度*/
	min-height:535px;
    height:auto !important; 
    height:535px; 
    overflow:visible;
}

.SavePlacePanel
{
	height: 75px;
}

/*保存控件css，随页面滚动*/
.SavePanelBottom
{
	position: absolute;
	height: 75px;
	width: 500px;
	background-color: #F7BE81;
	z-index: 2;
	bottom: 0;
}

.SavePanelPageBottom
{
}
/*-----------------------*/

/*drop hover*/
.ReportDropHover
{
	border: medium solid #F2F5A9;
}

/*拖拽时占位*/
#DropHelperDiv
{
	height: 75px;
	background-color: #C8E3FF;
	border: medium dashed #3399FF;
}

/*修改属性时点击控件的css*/
.ClickItemPanelToModify
{
	border: medium solid #ACFA58;
}