#banner_info
{
	float:left;
	width:230px;
	height:160px;
	background:url(../Engineering/Resources/Images/bg_adm_tl.jpg) repeat-x;
}

#banner_info h1
{
	color:#CA5100;
	font-size:24px;
	padding:36px 0 0 44px;
	font-family: 微软雅黑,黑体;
}

#banner_pic
{
	float:right;
	width:730px;
	height:160px;
	background-color:Gray
}

#bg_container
{
	float:left;
	background-color:#ECF4F4;
	width:960px;
	height:auto;
}
#space
{
	float:left;
	width:960px;
	height:18px;
	clear:both;
}
#menu_container a
{
	text-decoration: none;
	display: block;
	color: #D7EEFF;
	width: 195px;
	padding-top:5px;
	padding-bottom:5px;
}
#menu_container a:hover
{
	margin:0;
	color: #5CA6CD;
	background-image: url(../Engineering/Resources/images/btn_highlight2.png);
	background-repeat: no-repeat;
	list-style-type: none;
}
#menu_container ul
{

	margin: 14px 0 0 0px;

	padding: 0px 0 0 15px;
	font-family: 微软雅黑,黑体;
	font-size: 16px;
	list-style-type: none;
}

#menu_container li
{
	height: 42px;
	width: 195px;
	text-align: center;
}

#menu_title
{
	font-family: 微软雅黑,黑体;
	color: #ABDCFF;
	margin: 2px 0 0 24px;
	font-size: 14px;
}

#content_title
{
	margin:0;
	float:left;
	width:688px;
	height:32px;
	background:url(../Engineering/Resources/Images/content_title.png) no-repeat;
	
}
#content_title h1
{
	color:#808D90;
	font-family: 微软雅黑,黑体;
	margin-left:18px;
	padding:7px 0;
	
}
#content_container
{
	float:left;
	width:688px;
	height:auto;
}
#content_list
{
	float:left;
	background-color:#F4F9F9;
	width:688px;
	height:auto;
		
}
div.bg_edge
{
	margin-top:0;
	float:left;
	height:12px;
	width:688px;	
}

#menu_container
{
	float:left;
	width:230px;
	height:200px;
	background:url(../Engineering/Resources/Images/bg_menu.png) no-repeat;
	background-position: 15px top;
	padding-bottom:18px;
	
}