.InputBox { border:solid 1px #879bb6; background-color:#d0d6e2; font-size:12px; color:#454545; padding:2px}
.Label { font-size:12px; color:Silver}
.Label a{}
.Btn { background-color:#77c1ff; border:solid 1px #2b84fc; color:White; font-weight:bold}
.pnl_main{}
.div_btn{ width:200px; margin-left:auto; margin-right:auto}
#div_login{ font-family:宋体; font-size:14px; margin-left:auto; margin-right:auto; width:300px; padding:50px; color:White}