#mid_body_up{width:902px; margin-left:auto; margin-right:auto; background-image:url(../../Resources/Images/mid_body_up.jpg); border:0; padding:0;}
#mid_body_mid{width:902px; margin-left:auto; margin-right:auto; background-image:url(../../Resources/Images/mid_body_mid.jpg); border:0; padding:0;}
#mid_body_mid_body{width:422px; margin-left:auto; margin-right:auto; border:0; padding:0;}
#mid_body_down{width:902px; margin-left:auto; margin-right:auto; background-image:url(../../Resources/Images/mid_body_down.jpg); border:0; padding:0;}
