body {
}
#leftup
{
    border-width: 1px;
	float:left;
	width:60%;
	height:20%;
}
#leftmid
{
	border-width: 1px;
	float:left;
	width:60%;
	height:40%;
}
#leftdown
{
	border-width: 1px;
	float:left;
	width:60%;
	height:40%;
}
#right
{
	border-width: 1px;
	float:right;
	width:40%;
	height:100%;
}
#Student_Master_leftMenu
{
	border-width: 1px;
	float:left;
	width:40%;
}
#Student_Master_Right
{
	border-width: 1px;
	float:right;
	width:55%;
}
.hidden 
{ 
	display:none;
}