.applemenu{
margin: 5px auto;
padding: 0;
width: 369px; /*width of menu*/
height:380px;
border: 1px solid #fff;
background-color:white;
border-top:0px;
}
.applemenu div.silverheader a{
background-color:White;
font: normal 14px Arial, Helvetica, sans-serif;
color: #6d6d6d;
display: block;
height:25px;
line-height:25px;
position: relative; /*To help in the anchoring of the ".statusicon" icon image*/
width: auto;
padding: 5px 0;
padding-left: 8px;
text-decoration: none;
border-bottom:1px dashed Silver;
border-left:0px;
border-right:0px;
margin-bottom: 0px;
hide-focus: expression(this.hideFocus=true); /* for ie 5+ */
outline: none; /* for firefox 1.5 + */
}
.applemenu div.silverheader a:hover{ color:#2d9aff; font-weight:bold}

.applemenu div.selected a
{
	background-image: url(silvergradientover.gif);
	color:#ff5511;
	height:25px;
	line-height:25px;
	font-weight:bold;
	border:0;
	hide-focus: expression(this.hideFocus=true); /* for ie 5+ */
	outline: none; /* for firefox 1.5 + */
}
.applemenu div.selected a:hover{ color:#ff5511}

.applemenu div.submenu{ /*DIV that contains each sub menu*/
                        background-color:#f3f5f7;
padding:15px 25px;
line-height:20px;
height: 100px; /*Height that applies to all sub menu DIVs. A good idea when headers are toggled via "mouseover" instead of "click"*/
}