#middle{width:900px; margin-left:auto; margin-right:auto; height:395px;}

#notice{width:439px; float:left; height:395px; padding:0; border:0; margin:0;}
#notice_name{height:37px; background-image:url(../Resources/Images/notice_name.jpg); padding:0; border:0; margin:0;}
#notice_body{height:358px; background-image:url(../Resources/Images/middle_body.jpg); padding:0; border:0; margin:0;}

#nspacep{width:22px; float:left; height:395px; padding:0; border:0; margin:0;}

#post{width:439px; float:left; height:395px; padding:0; border:0; margin:0;}
#post_name{height:37px; background-image:url(../Resources/Images/post_name.jpg); padding:0; border:0; margin:0;}
#post_body{height:358px; background-image:url(../Resources/Images/middle_body.jpg); padding:0; border:0; margin:0;}
