body { margin: 0; background-color:#FFFFFF; }
.btn_more{ width:50px; height:13px; position:relative;left:320px; top:10px}
#activity_btn{top:25px}
.btn_more a img{ border:0; vertical-align:middle; margin-right:2px; float:left}
.btn_more a span{ display:block; vertical-align:middle; float:left}
.btn_more a{ text-decoration:none; color:Gray;font-weight:bold}
.btn_more a:hover{ cursor:pointer}
.welcome{ font-family:Candara; font-size:18px; font-weight:bold; color:silver; line-height:18px; border-left:solid 5px #85bcff; padding-left:5px}

/* Top Panel */
#top{width: 960px; margin-left: auto; margin-right: auto; height: 90px;}
#logo{width: 420px; height: 90px; line-height:90px; float: left; background-image:url(../Resources/Bright/Logo.png); background-repeat:no-repeat}
#logo span{ color:Red; font-family:宋体; font-size:12px; display:none ; position:relative; top:55px; left:420px}
.Bright{display: inherit;}
.Dark{display:none;}
/* Top Right Panel */
#top_right{width: 540px; float: right; height: 90px;}
#quicklinkdiv{height: 22px; float:right; margin-top:5px; font-family:Arial; font-size:12px; color:Gray; margin-right:15px; line-height:22px}
#quicklinkdiv a,#quicklinkdiv span{ text-decoration:none; font-family:Arial; font-size:12px}
#quicklinkdiv span{ margin:0 5px; color:Gray}
#quicklinkdiv a:hover{ text-decoration:underline}
.text_part{ height: 13px; float:left}
.index{ font-weight:bold; color:#ff2a00}
.English{ color:#028bff; font-size:12px; font-weight:bold}
.rss{ color:#ff2a00; font-size:12px}
#login{ float:left; height:22px}
#login a{ text-decoration:none; color:Gray}
#login a:hover{ text-decoration:underline}
.ok{ height: 34px; width:164px; float:right; position:relative; right:30px;z-index:1001; line-height:18px; overflow:hidden; background-image:url(../Resources/Images/searchbar_holder_bg.png)}
.ie6{ height: 31px; width:164px; float:right; position:relative; right:30px;z-index:1001; padding-top:2px; overflow:hidden; background-image:url(../Resources/Images/layout_ie6.png)}
#searchbar{height: 18px; width:135px; float:right; position:relative;z-index:1001; line-height:18px; overflow:hidden; top:5px; right:22px}

/* Navigation Bar Panel */
#middle_top {width: 960px; margin-left: auto; margin-right: auto; height: 34px;}
#Menu li{ display:inline; list-style-image:none}
.menu-holder-ie6{ width:960px; margin-left: auto; margin-right: auto; height: 25px; background-image:url('../Resources/Bright/menu_nor_bg_ie6.png'); background-repeat:repeat-x}


/* News Panel */
#middle_middle {width: 960px; margin-left: auto; margin-right: auto; margin-bottom:15px; height: 240px;}
#picnews{width: 375px; height: 240px; float: left; margin-right:12px; padding:0; border:solid 1px gray}
#txtnewsTable{z-index: 1; width: 300px; height: 165px;}
#NewsHead{ width:100%; height:30px}
#NewsTitle{ width:100%; height:21px; background-image:url(../Resources/Bright/NewsTitle.png); background-repeat:no-repeat; margin-bottom:2px; z-index:1}
#Headline{ width:100%; height:80px; margin:4px 2px 0px 2px; padding-bottom:4px; border-bottom:dashed 1px Silver}
.newsStyle{font-size:11px; padding-left:40px;}
.newsDate{font-size:14px; padding-left: 25px;}
#txtnews{width: 360px; height: 240px; float: left; margin-right:13px; overflow:hidden; font-size:12px}
#news_title{width: 360px; height: 45px;}
#news_content{width: 360px; height: 180px; 
margin:0px 2px
}
.tagLinkBtn {margin: 3px;}

/* Activity, Notices, Quick Access */
#middle_bottom {width: 960px; margin-left: auto; margin-right: auto; margin-bottom:25px; height: 450px;}
/* Activity */
.title{ color:#505050}
.button{ float:left; position:relative; top:0px; left:250px}
.button a{ text-decoration:none; color:#339dff;font-family:Arial}
.button a:hover{ color:#ff5511}
#ActivityContent{ height:450px; margin:0 auto; width:373px; font-family:Arial, Helvetica, sans-serif; color:Gray; font-size:12px}
#active{width: 375px; height: 350px; float: left; margin-right:15px; overflow:visible;}
#actv_top{ width:373px; height: 20px; background-image:url(../Resources/Bright/ActivityTitle.png); background-repeat:no-repeat; margin:0 auto}
.actv_content{height:313px; width: 375px}
#main_actv_row{height:145px; width: 288px;}
#main_actv_pic{height:120px; width: 142px; float:left;padding-left:10px; padding-top:13px;}
#main_actv_content{height:144px; width: 134px; float:left; overflow:hidden;}
#main_actv_title{height:22px; width: 134px; float:left; padding-top:13px; color: #004B8C; font-size: 17px; font:华文宋体; text-align:center;}
#main_actv_line{height:0px;width:80%; float:left;border-bottom:solid 1px #999999; display:block;margin:0 13px;}
#main_actv_sdate{height:25px; width:134px; float:left; padding-top:15px;color: #000000; font-size: 14px; font:Arial; text-align:center;}
#main_actv_edate{height:35px; width:134px; float:left; padding-bottom:5px;color: #000000; font-size: 14px; font:Arial; text-align:center;}
#main_actv_todate{height:30px; width:134px; float:left;color: #000000; font-size: 14px; font:Arial; text-align:center;}
#older_actv_row{height:107px; width: 288px;}
.actv_line{height:0; width:93%; float:left; display:block; border-bottom:solid 1px #999999; margin:0 10px;}
.actv_older{height:36px; width:286px;}
.actv_older_content{height:26px; width:130px; float:left; padding-top:10px; padding-left:12px;color: #000000; font-size: 14px; font:华文宋体;}
.actv_older_time{height:26px; width:130px; float:left; padding-top:10px; padding-right:12px;color: #000000; font-size: 13px; font:Arial; text-align:right;}
#more_actv_row{width: 288px;}
#more_actv_pos{height:40px; width:70px; float:right; padding-top:20px; padding-right:20px;}
.actv_more{font-size:12px; font:华文黑体; float:right; text-decoration:none; color:#000000;}
/* Notice */
.line{ margin-bottom:5px}
.content{ width:100%; height:450px}
#notice{width: 570px; height: 350px; float: left}		
#notice_top{width: 100%; height: 20px; background-image:url(../Resources/Bright/NoticeTitle.png); background-repeat:no-repeat}
.notice_content{width: 100%; height: 330px; background-image: url('../Resources/Bright/ColorChangBack.jpg'); background-repeat: repeat-x;}
.panel_tags{width: 100%; height: 35px; text-align: center; font-size: 0.8em;}
.panel_tags a{ text-decoration: none; color: #666666; }
#notice_tag{width: 100%; height: 35px;}
#notice_today{width: 431px;}
.notice_tleft{width: 110px; float:left;font-size:16px; font:Arial; color:#000000; text-align:center;}
.notice_date_pos{width:80px; padding-top:10px;float:right;}
.notice_tright{width: 311px; float:left;}
.notice_line{ display:block; height: 0px; border-bottom:#FFFFFF dashed 1px; margin:0 10px;}
#notice_yest{width: 431px;}
#notice_old{width: 431px;}
.notice_more{ font-size:12px; font:华文黑体; float:right; text-decoration:none; color:#FFFFFF;}
.notice_content_stl{text-decoration: none; font-size:10px; font-family:Arial; line-height:20px; color:#ff6000; border-bottom:dashed 1px Silver;}
.notice_content_stl a{text-decoration: none; color:#000000; font-size:13px; color:#454545; display:block; height:18px; width:250px; overflow:hidden}
.notice_content_stl a:hover{ color:#00a2ea}
.newsContent{ color:#b1b1b1; font-size:12px; line-height:18px; padding:5px 0 8px 0}
.newsTitle{ font-size:14px}
.newsTitle a{ display:block; width:355px}
#NoticeTag{ font-size:13px; font:华文宋体; color:#999999;}
#EmptyBlock1{height: 15px; width: 80px; float:right;}
.notice_more_pos{float:right;text-decoration:none; width:80px; height:15px; padding-top:5px; padding-right:22px; overflow:hidden;}
/* Quick Access*/
#quickaccess{width: 195px; height: 240px; float: left; position:relative}
#quick_access_top{width:100%; height:37px}
.holder{ width:185px; height:240px}
.bottom{ width:185px; height:7px}
.bottom_l{ width:5px; height:7px; background-image:url(../Resources/Bright/QuickAccessBottom_l.png); background-repeat:no-repeat; float:left}
.bottom_r{ width:5px; height:7px; background-image:url(../Resources/Bright/QuickAccessBottom_r.png); background-repeat:no-repeat; float:left}
.bottom_mid{ width:175px; height:7px; background-image:url(../Resources/Bright/QuickAccessBottom_mid.png); background-repeat:repeat-x; float:left}
.icon{ background-image:url(../Resources/Bright/QuickAccessPic.png); width:57px; height:66px; position:absolute;top:160px; left:148px}
.QuickAccessContent{ width:183px; height:184px;background-color:#f3f5f6; border-left:solid 1px #e8edf0;border-right:solid 1px #e8edf0;padding:5px 0}
.QA_StyleIE6{ width:195px; height:201px; position:relative; top:-4px}
.QA_Btm_StyleIE6{ width:185px; height:7px; position:relative; top:-11px}
.QuickAccessContent ul{ width:100px;margin-top:0px;padding-top:5px;left:-15px; position:relative}
.QuickAccessContent ul li
{ 
	list-style-image:none;
	list-style:none;
	width:128px;
    padding-left:15px;			
	background: url('../Resources/Bright/QuickAccessIcon_nor.png') no-repeat left;
}
.QuickAccessContent ul li a{ line-height:21px;font-family:宋体; font-size:13px; color:#444444;text-decoration:none}
.QuickAccessContent ul li a:hover{ color:black; cursor:pointer}

	
/* outmost wrapper element, containing all elements  */
.scrollable {
	background-color:#EFF7FE;
	width:940px;
	height:140px;
	margin-left:auto;
	margin-right:auto;
}

/* container for the scrollable items */
div.items {
	height:115px;	
	margin-left:19px;
	float:left;
	width:805px;
	margin-top:15px;
	background-color:#EFF7FE;
}

/* single item */
div.items a {
	display:block;
	float:left;
	margin-right:20px;/*图片间的间隔*/
	width:145px;
	height:94px;
	background:black;
	font-size:12px;
	color:#ccc;
	line-height:210px;
	text-decoration:none;
	text-align:center;
	cursor:pointer;
}

div.items a:hover {
	color:#999;	
}

div.items a.active {
	background-position:0 0;		
	cursor:default;
}

/* next / prev buttons */
a.prev, a.next {
	background:url('/WebSite/Resources/Bright/LButton.jpg') no-repeat 0 0;
	display:block;
	width:29px;/*按钮图片的大小*/
	height:29px;
	float:left;	
	margin:47px 0 19px 19px;/*按钮图片与外框及滚动内容框的间距*/
	cursor:pointer;
}

a.next {
	background-image:url('/WebSite/Resources/Bright/RButton.jpg')		
}
/* 鼠标在按钮上的效果，如果做在同一张资源图中*/
a.prev:hover {
	background-position:0 0;		
}

a.next:hover {
	background-position:0 0;		
}



/* Friends Links */
#friends_links{width: 960px; height: 30px; margin-left: auto; margin-right: auto; padding-top:5px; padding-left:15px;line-height:22px;}
#friends_links a{ margin:0 5px; color:gray; text-decoration:none; font-size:12px}
#friends_links a:hover{ color:#ff5400}
/*Bottom Bar*/
.bottom_bar{width: 960px; margin-left: auto; margin-right: auto; font-family:Arial; color:Gray; font-size:12px; border-top:solid 1px silver; padding-top:5px}
#bottom_table{font-size:12px; width: 952px; margin-left: auto; margin-right: auto;}

#bottom_table a{ text-decoration: none; color:Black;}
#bottom_table a:hover { color: #666666;}


/*学院图片*/
.scrollable_demo{ margin:10px auto; width:958px}
.scrollable_demo img{ margin-right:10px; border:0}
.scrollable_demo ul li{ display:inline}
#pic_top{ width:172px; height:21px; background-image:url(../Resources/Bright/PicTitle.png)}
/* College Picture */
#college_pic_top{width: 960px; height: 25px; margin-left: auto; margin-right: auto; margin-bottom:15px}
#college_pic_line{width: 958px; height: 120px; margin-left: auto; margin-right: auto; background-image:url(../Resources/Bright/scroll_pic_bg.png)}
#collge_pics{width: 958px; height: 140px; float:left}

#friends_links{ font-family:Arial; font-size:12px; margin-top:15px}

/*-------------------------------------------------------------------------------学院导航栏Begin------------------------------------------------------------------*/
#menu_div{height: 34px; position: absolute; z-index:1000; background-image:url('../Resources/Bright/menu_nor_bg.png'); background-repeat:repeat-x; width:960px}
li.potato-menu-item {
    font-size:13px;
}
ul.potato-menu-group {
    border:0;
    position:relative;
    top:30px;

}
ul.potato-menu-group a {
    width: 80px;
}
.potato-menu a 
{
    padding:5px 12px 5px 12px;
    background-color:#00a2ea;
    color: white;
    border-bottom:solid 1px #56b3ed;
}
.potato-menu a:hover {
    background-color: #267cb2;
    color:#fff;
    border-bottom:solid 1px #56b3ed;
}
.potato-menu-has-vertical > a 
{
	padding:6px 12px 9px 12px;
    background-image:url('../Resources/Bright/menu_nor_bg.png');
    background-repeat:repeat-x;

    font-weight:bold;
    border-bottom:0px;
}
.potato-menu-has-vertical > a:hover 
{
	padding:6px 12px 9px 12px;
    background-image:url('../Resources/Bright/menu_sel_bg.png');
    background-repeat:repeat-x;
    font-weight:bold;
    padding-left:auto;
    border-bottom:0px;
}
ul.potato-menu {
	margin:0;
	padding:0;
	width:auto;
	list-style:none;
}
.potato-menu:after {
	content: " ";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
}
ul.potato-menu li.potato-menu-item {
	margin:0;
	padding:0;
	position:relative;
	list-style:none;
	list-style-position:outside;
	display:inline;
	float:left;
}
ul.potato-menu li.potato-menu-item a {
	display:block;
	text-decoration:none;
	white-space:nowrap;
	outline:0;
}
ul.potato-menu ul.potato-menu-group {
	margin:0;
	padding:0;
	-webkit-padding-start:0;
	-webkit-padding-end:0;
	position:absolute;
	display:none;
	z-index:1000;
}
/*---------------------------ie6解决方案------------------------------*/
li.potato-menu-item-ie6 {
    font-size:13px;
}
ul.potato-menu-group-ie6 {
    background: #fff;
    width: 80px;
}
ul.potato-menu-group-ie6 a {
    width: 80px;
}
.potato-menu-ie6 a {
    padding:9px 13px 8px 14px;
    background: #00a2ea;
    color: #fff;
    border-bottom:solid 1px #56b3ed;
}
.potato-menu-ie6 a:hover {
    background: #267cb2;
    color:#fff;
}
.potato-menu-has-vertical-ie6 > a {
    background: #333 url(/images/icons/fammini/arrow_down.gif) right no-repeat;
}
.potato-menu-has-holizontal-ie6 > a {
    background: #333 url(/images/icons/fammini/arrow_right.gif) right no-repeat;
}
.potato-menu-has-vertical-ie6 > a:hover {
   background: #666 url(/images/icons/fammini/arrow_down.gif) right no-repeat;
    
}
.potato-menu-has-holizontal-ie6 > a:hover {
    background: #666 url(/images/icons/fammini/arrow_right.gif) right no-repeat;
}
ul.potato-menu-ie6 {
	margin:0;
	padding:0;
	width:auto;
	list-style:none;
}
.potato-menu-ie6:after {
	content: " ";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
}
ul.potato-menu-ie6 li.potato-menu-item-ie6 {
	margin:0;
	padding:0;
	position:relative;
	list-style:none;
	list-style-position:outside;
	display:inline;
	float:left;
}
ul.potato-menu-ie6 li.potato-menu-item-ie6 a {
	display:block;
	text-decoration:none;
	white-space:nowrap;
	outline:0;
}
ul.potato-menu-ie6 ul.potato-menu-group-ie6 {
	margin:0;
	padding:0;
	-webkit-padding-start:0;
	-webkit-padding-end:0;
	position:absolute;
	display:none;
	z-index:1000;
}
/*-------------------------ie6解决方案结束----------------------------*/

/*-------------------------------------------------------------------------------学院导航栏End------------------------------------------------------------------*/
.testpp
{
	color:Red;
	float:left;
}
/*----------------新闻详细---------------*/
.news_detail_div{ width:960px; margin:0 auto 20px auto;  font-size:13px;  border:dashed 0px gray}
.news_detail_title{ font-size:24px;  font-weight:bold;color:#6a6a6a}
#detail_content{ background-color:#f5f8fd; border:solid 1px #c1d9f1; margin-top:10px; padding:35px 45px 0px 45px; line-height:25px}
#detail_head{ height:60px; width:100%; margin-bottom:10px}
#position_box{position:absolute; bottom:0; padding:0; margin:0}
#show_date{ float:left; width:60px; background-image:url(../Resources/Bright/date_show.png); background-repeat:no-repeat; line-height:60px; margin-right:10px}
#show_title{ height:60px;float:left; width:570px; margin-right:10px; position:relative}
#show_info{ float:left; width:auto; padding-left:30px; background-image:url(../Resources/Bright/division.png); background-repeat:no-repeat}
.title_content{ font-family:黑体; color:#6a6a6a; line-height:27px; font-size:22px}
#show_info .info_content{ color:#ff3600; font-family:Arial}
.date_year{ width:60px; height:30px; line-height:30px; margin-left:10px; position:relative; top:10px; color:#555;font-family:Arial}
.date_day{ width:60px; height:30px; line-height:30px; margin-left:10px;color:#ff3600; font-size:14px; font-weight:bold; font-family:Arial}
#page
{
	visibility:hidden;
}
*html #page{ visibility:hidden;}
*+html #page{ visibility:hidden;}