.InputBox { border:solid 2px #a3d2ff; background-color:white; font-size:16px;color:gray; padding:8px; width:300px; font-family:Arial; margin:7px 0}
.Label { font-size:14px; color:Blue}
.Label a{}
#div_login
{
	font-family: 宋体;
	font-size: 14px;
	margin: auto auto 0px auto;
	padding: 0 20px;
	width: 900px;
	height: auto;
}
#div_logo{ width:960px; margin:25px auto}
#login_left{ float:left; width:280px; background-image:url(../Resources/Bright/login_pic.png);line-height:339px; background-repeat:no-repeat; margin-right:20px}
#login_right{ float:left; width: 589px; height:339px; background-image:url(../Resources/Bright/login_bg.png)}
#login_err, #login_input, #login_btn{ width:305px; position:relative; top:98px; left:180px}
#login_err{line-height:24px; font-size:14px; color:Red; left:100px}
#login_input{ margin-bottom:15px}
#login_btn{left:405px}
#login_back{ width:130px; margin:5px auto 20px auto; padding-left:830px}
#div_bottom{ width:960px; margin:0 auto 20px auto}
.suc_holder{ width:445px; height:107px; background-image:url(../Resources/Bright/suc_holder.png);position:relative; top:120px; left:33px; font-family:Arial; font-size:16px; color:Black; padding-left:80px; line-height:24px}
.suc_holder a{ color:gray; font-size:12px}
.suc_holder a:hover{ color:Black}
#pw_right{ float:left; width: 589px; height:339px; background-image:url(../Resources/Bright/pw_bg.png)}
#pw_input{width:305px; position:relative; top:160px; left:115px}
#pw_btn{width:305px; position:relative; top:170px; left:380px}
.PwInputBox { border:solid 2px #a3d2ff; background-color:white; font-size:16px;color:gray; padding:8px; width:340px; font-family:Arial; margin:7px 0}