.ReportLabel
{
	border-color: #FF9933;
	border-width: 10px;
	font-size: large;
	font-weight: bold;
	font-style: normal;
	vertical-align: middle;
	text-align: justify;
	background-color: #3399FF;
	margin: 0px;
	padding: 5px;
	color: #333333;
}

.ReportSubItemPanel
{
	margin: 0px;
	padding: 5px 20px 5px 20px;
	border: medium solid #3399FF;
	font-size: medium;
	font-weight: bold;
	background-color: #C8E3FF;
}

.DisplayItemLabel
{
	float: left;
	font-size: small;
	font-weight: bold;
	text-align: justify;
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
	width: 100px;
	color: #333;
}

.DisplayItemControl
{
	padding: 0px;
	margin: 0px;
	border-width: 0px;
	width: 400px;
}

.DisplayItemHolder
{
	margin: 5px 0px 5px 0px;
}

.DisplayTextBox
{
	border: 1px solid #808080;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #333333;
}